---
layout: default
---

<main class="container" role="main">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-3">
      <aside class="sidebar" role="complementary">
        <div class="search-widget">
          <a href="{{ site.baseurl }}/" aria-label="Home">
            <img class="image" src="/images/brice_boston.png" alt="Brice Vallieres" height="100" width="100" loading="eager">
          </a>
          
          <h3>Brice Vallieres</h3>
          <p>Software & data analytics consultant in Cambridge, MA 🚀</p>
          
          <a href="https://twitter.com/bricevallieres" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false"></a>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          <a class="github-button" href="https://github.com/bvallier" aria-label="Follow @bvallier on GitHub">Follow</a>
          
          <p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
          <a href="https://www.linkedin.com/in/bricevallieres/">LinkedIn</a>
          
          <u>Projects</u>
          <a href="https://staffmapper.com?ref=blog">Staff Mapper</a><br>
          <a href="https://tiny-pivot.com">TinyPivot</a>
        </div>
      </aside>
    </div>

    <!-- Blog Posts -->
    <div class="col-lg-8">
      <section aria-label="Blog posts">
        {% for post in site.posts %}
        <article class="row" itemscope itemtype="https://schema.org/BlogPosting">
          <div class="col-lg-4">
            <a href="{{ post.url | prepend: site.baseurl }}" aria-label="Read {{ post.title }}">
              {% if post.image %}
              <img class="img-thumbnail" src="{{ post.image }}" alt="{{ post.title }}" loading="lazy" itemprop="image">
              {% else %}
              <img class="img-thumbnail" src="https://source.unsplash.com/random/500x250?sig={{ forloop.index }}" alt="{{ post.title }}" loading="lazy">
              {% endif %}
            </a>
          </div>

          <div class="col-lg-8">
            <h6>
              <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ post.date | date: "%b %-d, %Y" }}
              </time>
            </h6>
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-title">
              <h5 itemprop="headline">{{ post.title }}</h5>
            </a>
            <p itemprop="description">{{ post.summary }}</p>
          </div>
        </article>
        {% endfor %}
      </section>
    </div>
  </div>
</main>
