---
layout: default
---

<!-- ========== Sidebar ========== -->
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <aside class="col-md-offset-2 sidebar">

        <!-- Search - Widget -->
        <div class="col-md-12 ws-s search-widget">
          <a class="site-title" href="/..{{ site.baseurl }}/"><img class="image" style="border-radius: 5px; border-width: 2px; border-color: #FFF; border-style: solid;" src="/../images/brice_boston.png" alt="Blog Post 1" height="160" width="160"></a>
          <br />
          <br />
          <h3>Brice Vallieres</h3>

          Software and data analytics consultant working out of Cambridge, MA. 🚀
          <br />
          <br />
          <a href="mailto:brice@thesmallweb.co">Reach out</a>
          <br />
          <a rel="ck_modal" href="#ck_modal">Subscribe</a>

          <script async id="_ck_320448" src="https://forms.convertkit.com/320448?v=6"></script>

           <a href="https://www.linkedin.com/in/bricevallieres/">LinkedIn</a><br /><br />

           <a href="https://twitter.com/bricevallieres" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true"></a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          <!-- Place this tag where you want the button to render. -->
          
          <a class="github-button" href="https://github.com/bvallier" data-count-href="/bvallier/followers" data-count-api="/users/bvallier#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @bvallier on GitHub">Follow</a>
          <br />
          <br />
          <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
          <br />
          <u>Projects</u><br />
          <a href="https://workdive.com?ref=blog">WorkDive</a><br />
          <a href="https://staffmapper.com?ref=blog">Staff Mapper</a><br />
          <a href="https://t.me/joinchat/QB3rFhTJKYOKkhh1Vzkiaw">Telegram Crypto Bot</a><br />

        </div><!-- / .recent-posts-widget --><br />

      </aside><!-- / .sidebar -->
    </div>
    <div class="col-lg-8">
      <body>
        <!-- Blog Post 1 -->
        {% for post in site.posts %}
          
          <!-- Image -->
          <div class="row">
            <div class="col-lg-4">
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-title">
                {% if post.image %}
                  <img class= "img-thumbnail" src="{{ post.image }}" alt="{{ post.summary }}">
                {% else %}
                  <img class="img-thumbnail" src="https://source.unsplash.com/random/500x250" alt=" {{ post.summary }}">
                {% endif %}
              </a>
              <br />
              <br />
            </div>

            <div class="col-lg-8">
              
              <h6>{{ post.date | date: "%b %-d, %Y" }}</h6>
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-title"><h5>{{ post.title }}</h5></a>
              <p>{{ post.summary }}</p>
              
            </div>
          </div>

        {% endfor %}
      </body>
      
    </div>
  </div>
</div>
