<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top">

    {{ content }}

  <script id="dsq-count-scr" src="//bvallieres.disqus.com/count.js" async></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65760216-1', 'auto');
    ga('send', 'pageview');
  </script>

</html>
