---
layout: default
---

<main class="container" role="main">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-3 viewport-hide">
      <aside class="sidebar" role="complementary">
        <div class="search-widget">
          <a href="{{ site.baseurl }}/" aria-label="Home">
            <img class="image" src="/images/brice_boston.png" alt="Brice Vallieres" height="100" width="100" loading="eager">
          </a>
          
          <h3>Brice Vallieres</h3>
          <p>Software & data analytics consultant in Cambridge, MA 🚀</p>
          
          <a href="https://twitter.com/bricevallieres" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false"></a>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          <a class="github-button" href="https://github.com/bvallier" aria-label="Follow @bvallier on GitHub">Follow</a>
          
          <p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
          <a href="https://www.linkedin.com/in/bricevallieres/">LinkedIn</a>
          
          <u>Projects</u>
          <a href="https://staffmapper.com?ref=blog">Staff Mapper</a><br>
          <a href="https://tiny-pivot.com">TinyPivot</a>
        </div>
      </aside>
    </div>

    <!-- Blog Post Content -->
    <div class="col-lg-8">
      <article id="post-content" itemscope itemtype="https://schema.org/BlogPosting">
        <header>
          <div class="header-left">
            <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
            <span class="post-date">
              <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%b %-d, %Y" }}
              </time>
            </span>
          </div>
          <div class="header-right">
            <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </header>

        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>

        <footer>
          <script async id="_ck_321906" src="https://forms.convertkit.com/321906?v=6"></script>
          {% include disqus.html %}
        </footer>
      </article>
    </div>
  </div>
</main>
